.review {
  padding: 30px 20px;
  display: flex;
  align-items: center;
  background-color: #f8f8f8;
  margin-bottom: 25px; }
  .review .reviewer {
    border-radius: 50%;
    overflow: hidden;
    width: 120px;
    height: 120px;
    margin-right: 35px; }
    .review .reviewer img {
      width: 100%; }
  .review .ratings span {
    margin: 0 20px 0 0;
    color: #00a1b6;
    font-weight: 900; }
  .review .review-content p {
    color: #2d2d2d;
    font-size: 14px;
    margin-top: 10px; }
