.course {
  margin: 0 10px 40px;
  a {
    text-decoration: none;
    color: initial;
  }
  .featured-image {
    position: relative;
    img {
      height: 211.75px;
      width: 312.41px;
    }
    .hover {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 160, 186, 0.5);
      display: flex;
      align-items: center;
      .button-group {
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: right;
        button {
          background: #f1a941;
          border: none;
          padding: 5px;
          border-radius: 5px;
          margin: 0 5px;
          i {
            color: #ffffff;
          }
          &.active {
            background: #ffffff;
            i {
              color: #f1a941;
            }
          }
        }
      }
      div {
        text-align: center;
        width: 100%;
      }
    }
  }
  &:hover {
    .featured-image {
      .hover {
        opacity: 1;
      }
    }
  }
  .course-content {
    & > div {
      margin-bottom: 10px;
    }
    font-size: 14px;
    padding: 20px;
    .course-title {
      font-weight: 900;
      min-height: 32px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    .course-duration {
      font-size: 12px;
    }
    .ratings {
      margin: 15px 0;
      .star-rate {
        .rate-star {
          i {
            font-size: 15px;
          }
        }
      }
      span {
        font-size: 12px;
      }
    }
    .price {
      float: right;
    }
  }
}
