.section {
  margin: 70px auto;
  .section-header {
    &.title-center {
      text-align: center;
    }
    &.title-left {
      text-align: left;
    }
    margin-bottom: 35px;
    .section-heading {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 3px;
      margin-bottom: 20px;
    }
    .section-subheading {
      font-size: 19px;
      max-width: 80%;
      margin: 0 auto;
    }
  }
}
