.section {
  margin: 70px auto; }
  .section .section-header {
    margin-bottom: 35px; }
    .section .section-header.title-center {
      text-align: center; }
    .section .section-header.title-left {
      text-align: left; }
    .section .section-header .section-heading {
      font-size: 30px;
      text-transform: uppercase;
      font-weight: 900;
      letter-spacing: 3px;
      margin-bottom: 20px; }
    .section .section-header .section-subheading {
      font-size: 19px;
      max-width: 80%;
      margin: 0 auto; }
