.form-input {
  position: relative;
  margin-bottom: 15px;
  i {
    .input-icon {
      position: absolute;
      top: 10px;
      left: 10px;
    }
  }
  input {
    padding: 10px 20px;
    width: 100%;
    box-shadow: none;
    border: none;
    font-family: "Roboto", sans-serif;
  }
  &.has-errors {
    input {
      border-color: #cc6363 !important;
      box-shadow: 0 0 2px 1px #ffa3a3;
    }
  }
  .form-errors {
    list-style: none;
    text-align: left;
    font-size: 12px;
    padding: 10px 0 0;
    li {
      padding-bottom: 10px;
      color: #cc6363;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}
