.sidebar {
  padding-right: 35px; }
  .sidebar .widget {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 2px solid #f8f8f8; }
    .sidebar .widget .form-input input[type="text"] {
      background-color: #f8f8f8;
      border-radius: 3px; }
    .sidebar .widget .form-input i {
      color: #b7b7b7; }
    .sidebar .widget:last-child {
      border-color: transparent; }
    .sidebar .widget.search-widget i {
      top: 13px;
      left: 15px; }
    .sidebar .widget.search-widget input {
      background: #f8f8f8;
      padding: 15px 10px 15px 50px; }
    .sidebar .widget .filter-list {
      list-style: none;
      padding: 0;
      text-transform: uppercase;
      font-size: 12px; }
      .sidebar .widget .filter-list .filter-title {
        color: #222222;
        margin-bottom: 15px;
        font-weight: 900;
        letter-spacing: 1px;
        text-decoration: none;
        display: block; }
      .sidebar .widget .filter-list .filter-group ul {
        list-style: none;
        padding: 0; }
        .sidebar .widget .filter-list .filter-group ul li {
          margin-bottom: 15px; }
          .sidebar .widget .filter-list .filter-group ul li .checkbox-container {
            float: left; }
          .sidebar .widget .filter-list .filter-group ul li .filter-text {
            line-height: 20px;
            margin-left: 10px; }
          .sidebar .widget .filter-list .filter-group ul li span.count {
            margin-left: 10px; }
    .sidebar .widget.price-filter .price-range {
      display: flex;
      margin: 20px 0 20px;
      font-size: 12px;
      font-weight: 900;
      justify-content: space-between; }
    .sidebar .widget.price-filter .price-slider {
      padding: 0 10px;
      margin-top: 40px; }
      .sidebar .widget.price-filter .price-slider .rc-slider-track {
        background-color: #00a0ba; }
      .sidebar .widget.price-filter .price-slider .rc-slider-handle {
        border-color: #00a0ba; }
    .sidebar .widget.ratings-filter .rating {
      display: flex;
      margin-bottom: 10px; }
  .sidebar .advance-filters .form-group {
    margin-bottom: 25px; }
    .sidebar .advance-filters .form-group label {
      display: block;
      letter-spacing: 1px;
      font-size: 12px;
      font-weight: 900;
      margin-bottom: 10px;
      text-transform: uppercase; }

.items-container {
  width: 100%; }

.page-filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  font-size: 13px;
  color: #999999;
  font-weight: 500; }
  .page-filters .sort-buttons button {
    margin-right: 15px; }
  .page-filters .layout-switcher {
    display: flex;
    align-items: center; }
  .page-filters .toggle-view .toggle-button {
    display: inline-block; }
    .page-filters .toggle-view .toggle-button button {
      padding: 8px 8px;
      background: none;
      border: none;
      color: #00a0ba;
      margin-left: 15px;
      box-shadow: none; }
      .page-filters .toggle-view .toggle-button button i {
        font-size: 15px; }
    .page-filters .toggle-view .toggle-button.active button {
      background-color: #00a0ba;
      color: #ffffff; }
