.review-card {
  background: #ffffff;
  height: 100%; }
  .review-card .card-image .course-title {
    padding: 10px 20px;
    background-color: #ffffff;
    font-weight: 900;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px; }
  .review-card .card-body {
    text-align: center; }
    .review-card .card-body .reviewer-image {
      width: 120px;
      height: 120px;
      margin: -90px auto 0;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #fff; }
      .review-card .card-body .reviewer-image img {
        width: 100%;
        height: 100%; }
    .review-card .card-body .reviewer-rating {
      margin: 10px 0; }
    .review-card .card-body .reviewer-name {
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 10px; }
    .review-card .card-body .review-comment {
      font-size: 12px;
      color: #bebebe; }
