.image-card {
  padding: 80px 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: 100%; }
  .image-card .heading {
    color: #ffffff;
    font-weight: 900;
    font-size: 22px;
    letter-spacing: 3px;
    display: block;
    position: relative; }
    .image-card .heading::after {
      content: "";
      position: absolute;
      height: 4px;
      width: 90%;
      background: #ffffff;
      bottom: -10px;
      left: 5%; }
  .image-card .sub-heading {
    color: #fff;
    margin-top: 30px;
    text-align: center; }
