.tabs .nav-tabs {
  margin-bottom: -2px; }
  .tabs .nav-tabs .nav-item {
    display: inline-block; }
    .tabs .nav-tabs .nav-item .nav-link {
      color: inherit;
      padding: 15px 30px;
      border: 2px solid #eaeaea;
      display: block;
      cursor: pointer;
      font-size: 13px;
      font-weight: 500; }
      .tabs .nav-tabs .nav-item .nav-link.active {
        border-bottom-color: transparent;
        background-color: #f8f8f8; }
    .tabs .nav-tabs .nav-item:not(:first-child) .nav-link {
      border-left-color: transparent; }

.tabs .tab-content .tab-pane {
  border: 2px solid #eaeaea;
  padding: 40px 50px; }
  .tabs .tab-content .tab-pane.active {
    background-color: #f8f8f8; }
