.tabs {
  .nav-tabs {
    margin-bottom: -2px;
    .nav-item {
      display: inline-block;
      .nav-link {
        color: inherit;
        padding: 15px 30px;
        border: 2px solid #eaeaea;
        display: block;
        cursor: pointer;
        font-size: 13px;
        font-weight: 500;
        &.active {
          border-bottom-color: transparent;
          background-color: #f8f8f8;
        }
      }
      &:not(:first-child) {
        .nav-link {
          border-left-color: transparent;
        }
      }
    }
  }
  .tab-content {
    .tab-pane {
      border: 2px solid #eaeaea;
      padding: 40px 50px;
      &.active {
        background-color: #f8f8f8;
      }
    }
  }
}
