.page-header {
  padding: 50px;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
  h1 {
    text-transform: uppercase;
  }
  .title2 {
      margin-bottom: 0px;
      margin-top: -20px;
  }
}
