.city-card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px; }
  .city-card .name {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 900;
    letter-spacing: 1px; }
  .city-card .price {
    color: #ffffff;
    font-size: 13px;
    font-weight: 900; }
    .city-card .price span {
      color: #5ae2c6; }
