.detail-content {
  margin: 0% 10%;
  .advantage-item {
    padding-bottom: 30px;
    i {
      display: inline-block;
      margin-right: 15px;
      font-size: 30px;
      color: #00a0ba;
      text-align: center;
      align-content: center;
    }
    .item-description {
      margin-left: -50px;
    }
  }
}