.snackbar {
  position: "fixed";
  left: "20px";
  bottom: "20px";
  background: "#404040";
  color: "#fff";
  padding: "14px";
  transition: "translate 0.3s cubic-bezier(0, 0, 0.30, 1)";
  font-weight: "500";
  text-transform: "initial";
  will-change: "transform";
  white-space: "nowrap";
  transform: "translateY(20px)";
  box-shadow: "0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24)";
  font-size: "14px";
  opacity: 0;
  border-radius: "3px";
  align-items: "center";
  -webkit-box-pack: "justify";
  justify-content: "space-between";
  line-height: "20px";
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
