header {
  background-color: #00a1b6; }
  header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; }
    header > div .site-logo {
      display: inline-block;
      padding: 20px 0; }
      header > div .site-logo img {
        max-width: 150px; }
    header > div nav ul {
      list-style: none;
      margin-bottom: 0;
      display: flex;
      align-items: center; }
      header > div nav ul li {
        display: inline-block;
        font-size: 14px;
        padding: 0 15px; }
        header > div nav ul li a {
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500; }
      header > div nav ul .country-selector {
        color: #ffffff;
        display: flex;
        align-items: center;
        font-size: 12px;
        cursor: pointer; }
        header > div nav ul .country-selector img {
          max-width: 25px;
          margin-right: 10px; }
    header > div .call-to-action .btn {
      padding: 10px 20px;
      text-transform: uppercase;
      letter-spacing: 0; }

.compare-cta-button {
  position: fixed;
  bottom: 0;
  right: 45px;
  z-index: 10000; }
  .compare-cta-button a.btn {
    border-radius: 5px 5px 0 0;
    background-color: #00a0ba;
    border-color: #00a0ba; }
    .compare-cta-button a.btn span {
      background-color: #fff;
      color: #00a0ba;
      padding: 3px 5px;
      border-radius: 50%;
      font-size: 10px;
      margin-left: 10px; }
