.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap;
  .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%;

    .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
      min-height: 500px;
      img {
        width: 100%;
      }
    }
  }
  .slider-arrow {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px;
    &.arrow-next {
      right: 10px;
    }
    &.arrow-prev {
      left: 10px;
    }
  }
}

.slider-controls {
  display: flex;
  padding: 5px 0;
  margin: 0 -5px;
  .control {
    padding: 0 5px;
    img {
      max-height: 100px;
    }
  }
}
