.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow: hidden;
  white-space: nowrap; }
  .slider .slider-wrapper {
    position: relative;
    height: 100%;
    width: 100%; }
    .slider .slider-wrapper .slide {
      display: inline-block;
      height: 100%;
      width: 100%;
      min-height: 500px; }
      .slider .slider-wrapper .slide img {
        width: 100%; }
  .slider .slider-arrow {
    position: absolute;
    top: calc(50% - 20px);
    width: 40px; }
    .slider .slider-arrow.arrow-next {
      right: 10px; }
    .slider .slider-arrow.arrow-prev {
      left: 10px; }

.slider-controls {
  display: flex;
  padding: 5px 0;
  margin: 0 -5px; }
  .slider-controls .control {
    padding: 0 5px; }
    .slider-controls .control img {
      max-height: 100px; }
