.star-rate {
  display: inline-block;
  .rate-star {
    position: relative;
    display: inline-block;
    margin-right: 5px;
    .filled-star,
    .unfilled-star {
      overflow: hidden;
      width: 100%;
      color: #ececec;
      display: inline-block;
      line-height: 1;
      i {
        font-size: 20px;
      }
    }
    .filled-star {
      width: 0;
      color: #ffda44;
      position: absolute;
      top: 0;
      left: 0;
    }
    &.rate-star-full {
      .filled-star {
        width: 100%;
      }
    }
    &.rate-star-half {
      .filled-star {
        width: 50%;
      }
    }
  }
  &.rate-small {
    .rate-star {
      margin-right: 2px;
      .unfilled-star,
      .filled-star {
        i {
          font-size: 15px;
        }
      }
    }
  }
}

.ratings {
  .star {
    width: 12px;
    height: 12px;
  }
  span {
    font-size: 12px;
  }
}
