.star-rate {
  display: inline-block; }
  .star-rate .rate-star {
    position: relative;
    display: inline-block;
    margin-right: 5px; }
    .star-rate .rate-star .filled-star,
    .star-rate .rate-star .unfilled-star {
      overflow: hidden;
      width: 100%;
      color: #ececec;
      display: inline-block;
      line-height: 1; }
      .star-rate .rate-star .filled-star i,
      .star-rate .rate-star .unfilled-star i {
        font-size: 20px; }
    .star-rate .rate-star .filled-star {
      width: 0;
      color: #ffda44;
      position: absolute;
      top: 0;
      left: 0; }
    .star-rate .rate-star.rate-star-full .filled-star {
      width: 100%; }
    .star-rate .rate-star.rate-star-half .filled-star {
      width: 50%; }
  .star-rate.rate-small .rate-star {
    margin-right: 2px; }
    .star-rate.rate-small .rate-star .unfilled-star i,
    .star-rate.rate-small .rate-star .filled-star i {
      font-size: 15px; }

.ratings .star {
  width: 12px;
  height: 12px; }

.ratings span {
  font-size: 12px; }
