.sidebar .widget {
  margin-bottom: 35px; }
  .sidebar .widget .title {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 20px;
    margin-bottom: 20px; }
  .sidebar .widget.widget-light {
    background: #f8f8f8;
    padding: 25px; }
