.sidebar {
  .widget {
    margin-bottom: 35px;
    .title {
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: 20px;
      margin-bottom: 20px;
    }
    &.widget-light {
      background: #f8f8f8;
      padding: 25px;
    }
  }
}
