footer {
  background-color: #1b1b1b;
  color: #777777;
  font-size: 13px;
  padding: 50px 0;
  line-height: 25px; }
  footer a {
    color: #777777; }
  footer h3 {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 16px;
    margin: 0 0px 30px; }
  footer span {
    color: #ffffff; }
  footer ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  footer .social-links a {
    color: #ffffff;
    font-size: 15px; }
  footer .social-links li {
    padding: 7px 17px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    max-width: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 15px; }
    footer .social-links li i {
      margin-right: 5px; }
    footer .social-links li span {
      background: #fff;
      color: #000;
      padding: 7px 5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 5px;
      min-width: 40px;
      text-align: center; }
  footer .social-links .facebook {
    background-color: #3b5998; }
  footer .social-links .twitter {
    background-color: #00abf1; }
  footer .social-links .google {
    background-color: #d0422a; }
  footer .social-links .pinterest {
    background-color: #cc2127; }
  footer .social-links .linkedin {
    background-color: #007bb5; }
  footer .social-links .instagram {
    background-color: #c32aa3; }

.footer-note {
  background-color: #141414;
  padding: 20px; }
  .footer-note div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    font-size: 14px; }
    .footer-note div img {
      max-height: 40px; }
