.contact-details {
  .contact-option {
    display: flex;
    align-content: center;
    align-items: center;
    margin-bottom: 15px;
    i {
      margin-right: 15px;
      font-size: 20px;
      color: #00a0ba;
    }
    font-size: 13px;
  }
}
