.faq-container {
  margin-left: 10%;
  width: 80%;
  .category-container {
    width: 90%;
    .search-container {
      display: block;
      input {
        background-color: #f8f8f8;
        margin-top: 25px;
      }
      button {
        position: relative;
        margin-top: 23px;
      }
    }
    ul {
      padding-left: 0px;
      li {
        padding-top: 10px;
        cursor: pointer;
      }
    }
  }
}