.faq-container {
  margin-left: 10%;
  width: 80%; }
  .faq-container .category-container {
    width: 90%; }
    .faq-container .category-container .search-container {
      display: block; }
      .faq-container .category-container .search-container input {
        background-color: #f8f8f8;
        margin-top: 25px; }
      .faq-container .category-container .search-container button {
        position: relative;
        margin-top: 23px; }
    .faq-container .category-container ul {
      padding-left: 0px; }
      .faq-container .category-container ul li {
        padding-top: 10px;
        cursor: pointer; }
