.course-booking-page .course-details-columns {
  align-items: flex-start; }
  .course-booking-page .course-details-columns .sidebar-container {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem; }

.course-booking-page .section:first-child {
  margin-top: 0; }

.course-booking-page .booking-details {
  margin-bottom: 30px; }
  .course-booking-page .booking-details .booking-detail-list {
    list-style: none;
    padding: 0;
    margin: 0; }
    .course-booking-page .booking-details .booking-detail-list li {
      margin-bottom: 5px;
      font-size: 13px; }
      .course-booking-page .booking-details .booking-detail-list li span {
        font-weight: 600; }
      .course-booking-page .booking-details .booking-detail-list li .schedule {
        display: inline-block;
        margin-right: 10px;
        font-weight: 600;
        margin-bottom: 5px; }
        .course-booking-page .booking-details .booking-detail-list li .schedule span {
          text-transform: capitalize; }

.course-booking-page .course-fees {
  list-style: none; }
  .course-booking-page .course-fees li {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px; }
    .course-booking-page .course-fees li .course-fee-title {
      flex: 2; }
    .course-booking-page .course-fees li .course-fee {
      flex: 1;
      font-weight: 900;
      text-align: right; }
      .course-booking-page .course-fees li .course-fee span {
        font-weight: 100;
        font-size: 12px; }
    .course-booking-page .course-fees li.regular-price .course-fee {
      color: #edae1f;
      text-decoration-line: line-through; }
    .course-booking-page .course-fees li.total {
      margin-top: 15px;
      padding-top: 15px;
      border-top: 1px solid #f8f8f8;
      font-size: 17px;
      font-weight: 900; }
      .course-booking-page .course-fees li.total .course-fee {
        color: #00a0ba; }

.course-booking-page .booking-course-duration {
  margin-top: 15px; }
  .course-booking-page .booking-course-duration .duration-selector {
    margin-bottom: 15px; }
    .course-booking-page .booking-course-duration .duration-selector .form-errors {
      list-style: none;
      text-align: left;
      font-size: 12px;
      padding: 10px 0 0; }
      .course-booking-page .booking-course-duration .duration-selector .form-errors li {
        padding-bottom: 10px;
        color: #cc6363; }
        .course-booking-page .booking-course-duration .duration-selector .form-errors li:last-child {
          padding-bottom: 0; }
  .course-booking-page .booking-course-duration .duration-selector-title {
    font-weight: 600;
    line-height: 43px; }
  .course-booking-page .booking-course-duration .duration-selector-content {
    line-height: 28px; }
    .course-booking-page .booking-course-duration .duration-selector-content.duration-end-date {
      line-height: 43px; }
    .course-booking-page .booking-course-duration .duration-selector-content .icon-prefix {
      margin-right: 20px;
      display: inline-block; }
    .course-booking-page .booking-course-duration .duration-selector-content span {
      font-size: 12px; }
    .course-booking-page .booking-course-duration .duration-selector-content .form-group {
      width: 250px;
      display: inline-block; }
      .course-booking-page .booking-course-duration .duration-selector-content .form-group .selected-dropdown {
        display: inline-block;
        width: 100%; }
    .course-booking-page .booking-course-duration .duration-selector-content .datepicker-container {
      max-width: 300px; }
  .course-booking-page .booking-course-duration .datepicker-input {
    margin-bottom: 0; }
  .course-booking-page .booking-course-duration .duration-selector-date {
    font-size: 12px;
    font-weight: 500;
    margin-left: 20px; }
  .course-booking-page .booking-course-duration .note {
    font-size: 11px;
    margin-top: 20px; }

.course-booking-page .radio-button {
  font-size: 13px;
  margin-bottom: 5px;
  line-height: 19px; }

.course-booking-page .booking-course-travel-details .booking-course-travel-details-section {
  margin-bottom: 40px; }

.course-booking-page .input-group {
  margin: 10px 0; }
  .course-booking-page .input-group label {
    margin-bottom: 10px;
    display: block;
    font-size: 13px; }
  .course-booking-page .input-group .form-input input {
    background: #f8f8f8;
    padding: 15px 20px; }
  .course-booking-page .input-group .form-select {
    background: #f8f8f8; }

.course-booking-page .form-submit {
  margin: 30px -15px; }

.course-booking-page .date-of-birth .form-select {
  min-width: auto;
  display: inline-block; }
  .course-booking-page .date-of-birth .form-select .selected-dropdown span {
    padding: 0 10px; }

.button-block {
  margin-top: 20px;
  display: flex;
  justify-content: space-between; }

.button-single {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; }

.progress-bar-container {
  width: 100%; }
  .progress-bar-container .progress-bar-block {
    counter-reset: step;
    display: flex;
    margin: 0; }
    .progress-bar-container .progress-bar-block .progress-bar-elements {
      list-style-type: none;
      flex: 0 0 20%;
      position: relative; }
    .progress-bar-container .progress-bar-block .progress-bar-elements:before {
      content: counter(step);
      color: #f8f8f8;
      counter-increment: step;
      width: 25px;
      height: 25px;
      line-height: 25px;
      background-color: #999;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-right: 10px; }
    .progress-bar-container .progress-bar-block .active:before {
      background-color: #1166e6; }

.booking-course-accommodation .homestay-duration {
  padding-top: 30px; }
  .booking-course-accommodation .homestay-duration .homestay-date-label {
    padding-top: 15px;
    padding-bottom: 10px; }
  .booking-course-accommodation .homestay-duration .homestay-date-picker .form-errors {
    list-style: none;
    text-align: left;
    font-size: 12px;
    padding: 10px 0 0; }
    .booking-course-accommodation .homestay-duration .homestay-date-picker .form-errors li {
      padding-bottom: 10px;
      color: #cc6363; }
      .booking-course-accommodation .homestay-duration .homestay-date-picker .form-errors li:last-child {
        padding-bottom: 0; }

.booking-course-accommodation .homestay-preferences {
  padding-top: 30px;
  padding-bottom: 30px; }
  .booking-course-accommodation .homestay-preferences .homestay-preferences-label {
    padding-top: 15px;
    padding-bottom: 10px; }

.payment-scheme-container {
  padding: 30px 0px; }

.payment-method-container {
  padding: 30px 0px; }
