.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb; }
  .alert.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb; }
  .alert.alert-light {
    color: #818182;
    background-color: #fbfbfb;
    border-color: #e5e5e6; }
  .alert.alert-info {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db; }
  .alert.full-width {
    width: 100%;
    text-align: center; }
