.terms-conditions-container {
  width: 80%;
  margin-left: 10%; }
  .terms-conditions-container .terms-conditions-sidebar {
    margin-top: 30px; }
  .terms-conditions-container .featured-courses .section-body {
    margin: 0 -10px; }
