.hero-slider {
  margin-top: -90px;
  text-align: center;
  background-color: #00a0ba;
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;
  .hero-subheading {
    font-size: 25px;
    display: block;
    color: #ffffff;
    max-width: 90%;
    margin: 0 auto 45px;
  }
  .hero-heading {
    font-size: 40px;
    font-weight: 900;
    @extend .hero-subheading;
  }
  .search-box {
    margin-bottom: 45px;
    .form-group {
      text-align: left;
      label {
        color: #fff;
        font-size: 13px;
        display: block;
        margin-bottom: 10px;
      }
    }
    .search-button {
      padding-top: 22px;
      button {
        width: 100%;
        padding: 13px 25px;
      }
    }
  }
}
.expore-section {
  a {
    display: block;
  }
  .image-card {
    flex: 1;
  }
}
.feature-classes-section {
  padding: 80px 0;
  color: #ffffff;
  & > div {
    margin: 0 auto;
  }
  .heading-1 {
    position: relative;
    padding-bottom: 15px;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 140px;
      height: 5px;
      background-color: #ffffff;
    }
  }
}
.courses-all-around-section {
  .heading-3 {
    letter-spacing: 5px;
  }
  .country-card {
    text-align: center;
    img {
      max-width: 100px;
      max-height: 45px;
    }
    a {
      color: #000000;
    }
    span {
      display: block;
      margin-top: 10px;
      text-transform: uppercase;
      font-weight: 900;
      font-size: 12px;
    }
  }
}
.what-people-saying-section {
  padding: 80px 0;
  margin-bottom: 0 !important;
}

.most-popular-countries-section {
  .country-row {
    margin-bottom: 35px;
    align-items: center;
    .city-row {
      &:first-child {
        margin-bottom: 25px;
      }
    }
  }
}
.has-margin-bottom {
  margin-bottom: 30px;
}
