.hero-slider {
  margin-top: -90px;
  text-align: center;
  background-color: #00a0ba;
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh; }
  .hero-slider .hero-subheading, .hero-slider .hero-heading {
    font-size: 25px;
    display: block;
    color: #ffffff;
    max-width: 90%;
    margin: 0 auto 45px; }
  .hero-slider .hero-heading {
    font-size: 40px;
    font-weight: 900; }
  .hero-slider .search-box {
    margin-bottom: 45px; }
    .hero-slider .search-box .form-group {
      text-align: left; }
      .hero-slider .search-box .form-group label {
        color: #fff;
        font-size: 13px;
        display: block;
        margin-bottom: 10px; }
    .hero-slider .search-box .search-button {
      padding-top: 22px; }
      .hero-slider .search-box .search-button button {
        width: 100%;
        padding: 13px 25px; }

.expore-section a {
  display: block; }

.expore-section .image-card {
  flex: 1; }

.feature-classes-section {
  padding: 80px 0;
  color: #ffffff; }
  .feature-classes-section > div {
    margin: 0 auto; }
  .feature-classes-section .heading-1 {
    position: relative;
    padding-bottom: 15px; }
    .feature-classes-section .heading-1:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 140px;
      height: 5px;
      background-color: #ffffff; }

.courses-all-around-section .heading-3 {
  letter-spacing: 5px; }

.courses-all-around-section .country-card {
  text-align: center; }
  .courses-all-around-section .country-card img {
    max-width: 100px;
    max-height: 45px; }
  .courses-all-around-section .country-card a {
    color: #000000; }
  .courses-all-around-section .country-card span {
    display: block;
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px; }

.what-people-saying-section {
  padding: 80px 0;
  margin-bottom: 0 !important; }

.most-popular-countries-section .country-row {
  margin-bottom: 35px;
  align-items: center; }
  .most-popular-countries-section .country-row .city-row:first-child {
    margin-bottom: 25px; }

.has-margin-bottom {
  margin-bottom: 30px; }
