.blog-article-container {
  margin: 0% 10%; }
  .blog-article-container .back-to-blog {
    margin-bottom: 50px; }
  .blog-article-container .blog-publish-date {
    color: #9e9d9d;
    margin-bottom: 10px; }
  .blog-article-container .blog-title {
    font-weight: 500;
    font-size: 25px; }
  .blog-article-container .blog-text {
    margin-bottom: 50px; }
  .blog-article-container .side-container {
    margin-top: 100px; }
    .blog-article-container .side-container .social-links-heading {
      display: inline-block;
      margin-right: 15px;
      font-size: 18px;
      font-weight: 300; }
    .blog-article-container .side-container .social-links-container {
      display: inline-block; }
      .blog-article-container .side-container .social-links-container .social-links {
        display: flex;
        margin: 0; }
        .blog-article-container .side-container .social-links-container .social-links .social-link-item {
          list-style-type: none;
          flex: 0 0 25%;
          position: relative;
          color: #ffffff;
          font-size: 15px; }
        .blog-article-container .side-container .social-links-container .social-links li {
          padding: 7px 7px;
          border-radius: 5px;
          position: relative;
          overflow: hidden;
          max-width: 150px;
          display: flex;
          align-items: center;
          margin-bottom: 15px;
          margin-right: 10px; }
        .blog-article-container .side-container .social-links-container .social-links .facebook {
          background-color: #3b5998; }
        .blog-article-container .side-container .social-links-container .social-links .google {
          background-color: #d0422a; }
        .blog-article-container .side-container .social-links-container .social-links .linkedin {
          background-color: #007bb5; }
        .blog-article-container .side-container .social-links-container .social-links .twitter {
          background-color: #00acee; }
    .blog-article-container .side-container .subscribe-title {
      font-size: 18px;
      font-weight: 500;
      margin-top: 50px;
      padding-bottom: 20px; }
    .blog-article-container .side-container .subscribe-description {
      padding: 10px 0px; }
    .blog-article-container .side-container .subscribe-input-container input {
      background: #f8f8f8;
      padding: 15px 20px; }
    .blog-article-container .side-container .subscribe-button {
      padding: 10px 0px; }
