.breadcrumb {
  list-style: none; }
  .breadcrumb li {
    font-weight: 900;
    font-size: 12px;
    display: inline-block;
    text-transform: uppercase; }
    .breadcrumb li a {
      text-decoration: none;
      color: #000000; }
    .breadcrumb li:last-child {
      color: #ffffff; }
    .breadcrumb li:not(:last-child):after {
      content: "/";
      padding: 0 10px; }
